/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all classes, id and tag from the ENTRY MENU elements
 */


/* ------------------------------------------------- TITLES ------------------------------------------------- */ 

h3{ /* PERSON NAME (in PERSON DETAILS) and VOLUME NAME (in VOLUME DETAILS) */
	padding-top:15px;
	padding-bottom:15px;
	font-size:16px;
	font-style:italic;
	color:#006;
}

h4{ /* TGN PLACE Title, MAP PLACE Title, MAP SITE OR SUBSITE Title */
	text-align:left;
	font-size:16px;
	font-style:italic;
}

h5{ /* DOCUMENT DETAILS Title, PERSON DETAILS Title */
	font-size:12px;
	display:inline;
	color:#6d5c4d;
}

#createdby h6{ /* "Created by ..." Title in ADD NEW DOCUMENT, ADD NEW PERSON, ADD NEW VOLUME */
	font-size:10px;
	text-align:right;
	font-weight:normal;
}

#createdby { /* "Created by ..." Content DIV */
	position:absolute;
	margin-left:420px;
	margin-top:-40px;
	width:150px;
	
}

#loading {
	width:16px;
	height:11px;
	display:inline;
	margin:25px 0 auto 25px;

}

/* ---------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ------------------------------------------------ DISPLAY ------------------------------------------------- */

ul li{ /* Lists */
	list-style:none;
	line-height:22px;
	text-align:justify;
	font-size:13px;
}

/* --------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* -------------------------------------------------- EDIT ------------------------------------------------- */
/* Common elements in Edit Forms */


.edit { /* Edit FORM class */
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

fieldset {  /* FORM BACKGROUND */
	border: 1px solid #e6d0c6;
	background-color:#f3e7e2;
	width:505px;
	padding-left:30px;	
	padding-right:30px;
}

legend { /* FORM TITLE */
	font-size:12px;
	color:#6d5c4d;
	background-color:#e6d0c6;
	padding:2px 3px 2px 3px;
}

input { /* INPUT text */
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding:3px;
	margin: 4px 7px 5px 5px;
}

.button { /* CLOSE / SAVE / ... button */
	background-color: #e6d0c6;
	border:none;
	display:inline; !important
	color: #6d5c4d;
}

form img{ /* Red Cross used to "Delete this entry"  */
	margin: 0 10px 0 5px;
	height: 13px;
	width: 13px;
	vertical-align:middle;
}

#save {
	margin:5px 0 0 395px;
	padding:0;
	cursor:pointer;
	background-color:transparent;
	background-image:url(/Mia/images/1280/button_save.png);
	width:52px;
	height:24px;
	border:none;
}

#close {
	margin:5px auto auto 0px;
	padding:0;
	cursor:pointer;
	background-color:transparent;
	background-image:url(/Mia/images/1280/button_close.png);
	width:52px;
	height:24px;
	border:none;
}

#AddNewValue { /* "Add New Value" Button */
	margin:5px auto auto 380px;
	padding:0;
	cursor:pointer;
	background-color:transparent;
	background-image:url(/Mia/images/1280/button_addnew.png);
	width:67px;
	height:25px;
	border:none;
}

a#editValue { /* "Edit Value" Button */
	font-size:13px;
}

.errors {
	color:#F00;
	margin: 0 0 0 130px;
}

.inputerrors { /* Error Span messages */
	color:#900;
	font-size:11px;
	margin:28px 0 0 103px;
	padding:2px;
	width:180px;
	position:absolute;
	float: right;
	text-align:center;
	border:1px solid #900;
}

#personIcon {
	width:14px;
	height:14px;
	display:inline;
	margin-left:15px;
	background-image:url(/Mia/images/1280/button_person.gif);
	cursor:pointer;
	background-color:transparent;
	border:none;
}

#placeIcon {
	width:15px;
	height:14px;
	display:inline;
	margin-left:15px;
	background-image:url(/Mia/images/1280/button_flag.png);
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:transparent;
	border:none;
}

#deleteIcon {
	width:13px;
	height:13px;
	bottom:0px;
	margin-bottom:0;
	background-image:url(/Mia/images/1280/button_delete.png);
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:transparent;
	border:none;
}

input[type="submit"]:hover { 
	opacity:0.5;
}

:hover input.submit { 
	opacity:0.5;
}


/* ----------------- CHECKBOXES --------------------- */

.checkbox1{ /* used in EditDescriptionVolume.html */
	margin:0px 45px 0px 10px;
}

.checkbox2{ /* used in EditDescriptionVolume.html */
	margin:0px 45px 0px 4px;
}

.checkbox3{ /* used in EditDescriptionVolume.html */
	margin:0px 45px 0px 18px;
}

.checkboxDoc2{ /* used in EditDetailsDocument.html */
	margin:0px 0px 0px 5px;
}

.checkboxPers1{ /* used in EditDetailsDocument.html, EditDetailsPerson.html */
	margin:5px 50px 0px 5px;
}

.checkboxPers2{ /* used in AddPersonCorrespondentsDocument.html, EditCorrespondentsDocument.html, EditDetailsDocument.html, EditTitlesOccupationsPerson.html, EditDetailsPerson.html */
	margin:5px 0px 0px 5px;
}

/* ---------------------------------------------------- */ 
/*
/*
/* ------------------- INPUT TEXT --------------------- */
/* c = character */ 

.input_1c { /* input for 1 character */ 
	width: 15px; !important
}

.input_2c { /* input for 2 characters */ 
	width: 23px; 
}

.input_3c { /* input for 3 characters */ 
	width: 28px; 
}

.input_4c { /* input for 4 characters */ 
	width: 35px;
}

.input_5c { /* input for 5 characters */ 
	width: 43px;
}

.input_10c { /* input for 10 characters approx. */ 
	width: 90px;
}

.input_14c { /* input for 14 characters approx. */ 
	width: 113px;
}

.input_15c { /* input for 15 characters approx. */ 
	width: 123px;
}

.input_20c { /* input for 20 characters approx. */ 
	width: 163px;
}

.input_23c { /* input for 23 characters approx. */ 
	width: 183px;
}

.input_25c { /* input for 25 characters approx. */ 
	width: 320px;
}

.input_28c { /* input for 28 characters approx. */ 
	width: 330px;
}

.input_30c { /* input for 30 characters approx. */ 
	width: 253px;
	margin: 7px 6px 5px 5px; 
}

.input_33c { /* input for 33 characters approx. */ 
	width: 283px;
	margin: 7px 6px 5px 5px; 
}

.input_35c { /* input for 35 characters approx. */ 
	width: 311px;
	margin: 7px 6px 5px 5px; 
}

.input_39c { /* input for 35 characters approx. */ 
	width: 323px;
	margin: 7px 6px 5px 5px; 
}

.input_40c { /* input for 40 characters approx. */ 
	width: 348px;
	margin: 7px 6px 5px 5px; 
}

.input_45c { /* input for 45 characters approx. */ 
	width: 492px;
	margin: 7px 6px 5px 0px; 
}

/* ---------------------------------------------------- */ 
/*
/*
/* -------------- INACTIVE INPUT TEXT ----------------- */
/* c = character */ 

.input_2c_disabled { /* input for 2 characters */ 
	width: 20px; !important
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; 
	opacity:0.3; !important
	cursor:default; !important
}

.input_4c_disabled { /* input for 4 characters */ 
	width: 30px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; 
	opacity:0.3; 
	cursor:default; 
}

.input_10c_disabled {  /* input for 10 characters */ 
	width: 87px; 
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; 
	opacity: 0.3; 
	cursor:default; 
}

.input_28c_disabled { /* input for 10 characters */ 
	width: 335px; 
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; 
	opacity: 0.3;
	cursor:default;
}

/* ---------------------------------------------------- */ 
/*
/*
/* ----------------- DROPDOWN MENU -------------------- */

.selectform{ /* dropdown menu class */
	width:100px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding:3px;
	margin: 5px 7px 5px 5px; 
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_short{ /* short dropdown menu class */
	width:50px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; 
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_long{ /* dropdown menu class */
	width:100px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; 
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_Xlong{ /* dropdown menu class */
	width:220px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; 
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* ---------------------------------------------------- */ 
/*
/*
/* ------------- INACTIVE DROPDOWN MENU --------------- */

.selectform_disabled{ /* dropdown menu class */
	width:80px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; 
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	opacity:0.3;
}

.selectform_long_disabled{ /* dropdown menu class  disabled*/
	width:100px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; 
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	opacity:0.4;
}

/* ---------------------------------------------------- */ 
/*
/*
/* ------------------- TEXTAREAS ---------------------- */

.txtarea { 
	width: 480px;
	height:40px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; 
}

.txtarea_disabled { 
	width: 372px;
	height:40px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
	opacity:0.3;
}

.txtarea_big { 
	width: 480px;
	height:120px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
}

.txtarea_small { 
	width: 372px;
	height:30px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
}

/* ---------------------------------------------------- */ 
/*
/*
/* -------------------- HR Lines ---------------------- */

#lineSeparator { /* Horizontal Line used adove the Titles  */
	margin:5px 0 5px 0;
	padding:0;
	width:570px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
	z-index:2;
}

hr { /* Horizontal Line used to separate areas inside the Edit Forms */
	margin:10px 0 10px 0;
	padding:0;
	width:500px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
}

/* ---------------------------------------------------- */ 
/*
/*
/* ---------------- EDIT FORMS WIDTH ------------------ */


#EditCorrespondentsDocumentForm, #EditExtSynDocumentDiv, #EditDetailsDocumentDiv, #EditFactCheckDocumentDiv, #EditCorrespondentsDocumentDiv, #EditExtractOrSynopsisDocumentDiv, #EditDetailsVolumeDiv, #EditDescriptionVolumeDiv, #EditCorrespondentsVolumeDiv, #EditContextVolumeDiv, #EditDetailsPersonDiv, #EditNamesPersonDiv, #EditCorrespondentsDocumentDiv, #EditExtSynDocumentDiv, #EditNamesPersonDiv, #EditTitleOccupationsPersDiv, #EditRelationshipPersDiv, #EditDetailsPersonForm, #EditDetailsPlaceDiv, #EditNamePlaceDiv, #EditExtLinkPlaceDiv, #EditGeoCoorPlaceDiv, #EditFactChecksDocumentDiv, #EditRelationshipPersonDiv, #EditTitlesOccupationsPersonDiv, #EditResearchNotesPersonDiv, #SpousesPersonForm, #TopicsDocumentForm, #EditTopicsDocumentForm {
	width:540px;
}

#EditParentsPersonDiv, #EditChildrenPersonDiv, #EditSpousesPersonDiv, #AdddChildPersonForm, #AddSpousePersonForm, #AddNamesPersonForm, #AddTitlesOccupationsPersonForm, #AddPersonCorrespondentsDocumentForm, #AddTopicsDocumentForm, #AddExtLinkTgnPlaceForm, #AddExtLinkMapPlaceForm, #AddExtLinkMapSitePlaceForm, #AddNameTgnPlaceForm, #AddNameMapPlaceForm, #AddNameMapSitePlaceForm {
	width:540px;
	margin-top:10px;
	font-size:12px;
}

#EditPortraitPersonDiv {
	float:right;
	margin-top:30px;
	z-index:1;
}

#EditDetailsPersonDiv {
	width:570px;
}

/* ---------------------------------------------------- */ 
/*
/*
/* ------------------- TEXTAREAS ---------------------- */

select {
	color: #6d5c4d;
	background-color: #fbf7f4;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	width: 345px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}

/* --------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* --------------------------------------- ENTRY MENU - Edit Forms Elements --------------------------------- */
/* Id positions 
/*
/*
/* ------------------- ADD NEW DOCUMENT ---------------------- */
/*
/*
/* ------------ EditDetailsDocument ------------ */

#DocumentImageDiv {
	float:right;
	margin-top:30px;
	padding-left:30px;
}

#DocumentImageDiv a,  #DocumentImageDiv p{
	text-align:right;
	font-size:10px;
}

#volumeLabel{
	margin-left:187px;
}

#entryIdLabel{
	margin-left:35px;
}

#folioNumLabel {
	margin-left:18px;
}

#DocYearLabel {
	margin-left:58px;
}

#docMonthNumLabel {
	margin-left:20px;
}

#docDayLabel{
	margin-left:20px;
}

#dateUndatedLabel {
	margin-left:115px;
}

#contDiscLabel {
	margin-left:200px;
}

#insertNumLabel {
	margin-left:9px;
}

/* -------------------------------------- */
/*
/* ----- EditCorrespondentsDocument ----- */

#toLabel {
	margin-left:23px;
}

#senderPlaceDescriptionLabel  {
	margin-left:19px;
}

#senderPeopleDescriptionLabel {
	margin-left:11px;
}

#recipientPlaceDescriptionLabel {
	margin-left:22px;
}

#portraitLabel {
	margin-left:407px;
}

#personIcon {
	margin:0 auto 0 15px;
}

#people, #firstTopic {
	margin-left:22px;
}

#AddPersonCorrespondentsDocument {
	margin:5px auto auto 380px;
	padding:0;
	cursor:pointer;
	background-color:transparent;
	border:none;
}

#AddPersonCorrespondentsDocument:hover {
opacity:0.5;
}


/* -------------------------------------- */
/*
/* ----- EditExtractOrSynopsisDocumentFullscreen ----- */

#EditExtractOrSynopsisDocumentFullscreenForm #docExtractLabel, #EditExtractOrSynopsisDocumentFullscreenForm #synopsisLabel{
	margin:10px 0 0 10px;
}

#closeSaveButtonsFullscreen {
	margin:475px 0 0 350px;
	width:131px;
	height:25px;
	position:absolute;
}

#closeSaveButtonsFullscreen input{
	border:none;
	background-color:#F6EDEC;
}

#closeSaveButtonsFullscreen #close{
	float:left;
	display:inline;
	margin:0;
}

#closeSaveButtonsFullscreen #save{
	float:right;
	display:inline;
	margin:0;
}

/* -------------------------------------- */
/*
/* --------------- TOPICS --------------- */

#topicDescription { /* "Show Topic Description" Button */
	background-image:url(/Mia/images/1280/button_topic.png);
	width:16px;
	height:16px;
	position:absolute;
	background-repeat:no-repeat;
	margin:10px 0 0 10px;
}

#topicLabel {
	margin-left:32px;
}

#TopicsDescriptionWindow p{
	line-height:22px;
	text-align:justify;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:15px;
}

#TopicsDescriptionWindow h1{
	text-align:center;
}

/* -------------------------------------- */
/*
/* -------------------------------------------------------------------------- */
/*
/* ---------------------------- ADD NEW PERSON ------------------------------ */
/*
/* ------------ CreatePerson ------------ */

#activeEnd {
	width:275px;
}

/* -------------------------------------- */
/*
/* --------- EditDetailsPerson ---------- */

#prefixPreIdLabel {
	margin-left:17px;
}

#PreIdLabel {
	margin-left:30px;
}

#lastnameLabel {
	margin-left:11px;
}

#prefixPostIdLabel {
	margin-left:14px;
}

#PostIdLabel {
	margin-left:25px;
}

#genderLabel {
	margin-left:48px;
}

#yearBirthLabel {
	margin-left:24px;
}

#approxBirthLabel {
	margin-left:50px;
}

#placeBirthLabel {
	margin-left:56px;
}

#activeStartLabel {
	margin-left:24px;
}

#yearDeathLabel {
	margin-left:22px;
}

/* -------------------------------------- */
/*
/* ---------- EditNamesPerson ----------- */

#nameLabel {
	margin-left:33px;
}

#givenLabel {
	margin-left:7px;
}

a#AddSpousePerson, a#EditPerson { /* "Add New ..." Button */
	border:none;
	display:inline;
	margin-left:255px;
	width:67px;
	height:25px;
}

/* -------------------------------------- */
/*
/* ----- EditTitleOccupationsPerson ----- */

#preferrefRoleLabel {
	margin-left:11px;
}

#yearStartLabel {
	margin-left:25px;
}
	
#monthStartLabel {
	margin-left:22px;
}

#dayStartLabel {
	margin-left:45px;
}

#yearEndLabel {
	margin-left:30px;
}

#monthEndLabel {
	margin-left:22px;
}

#dayEndLabel {
	margin-left:45px;
}

/* -------------------------------------- */
/*
/* ----- EditTitleOccupationsPerson ----- */

#fatherLabel {
	margin-left:21px;
}

#motherLabel {
	margin-left:20px;
}

#nameSpouseLabel {
	margin-left:26px;
}

#startYearSpouseLabel {
	margin-left:6px;
}

#endYearSpouseLabel {
	margin-left:20px;
}

#reasonLabel {
	margin-left:25px;
}

#nameChildsLabel {
	margin-left:27px;
}

#bornLabel {
	margin-left:33px;
}

#diedLabel {
	margin-left:45px;
}

#ageDeathLabel {
	margin-left:45px;
}

/* -------------------------------------- */
/*
/* ------------ Relationships ----------- */
/*
/* Parents */

a#linkSearch {
	font-size:13px;
	text-decoration:none;
	color:#006;
	margin: 0 0 0 10px;
	display:inline;
}

#info{
	opacity:0.6;
	margin: 0 0 0 20px;
	display:inline;
	font-size:13px;
	float:right;
}

/* -------------------------------------- */
/*
/* -------------------------------------------------------------------------- */
/*
/*
/* -------------------------- ADD NEW VOLUME -------------------------------- */
/*
/* --------------- EditDetailsVolume --------------- */

#volNumLabel {
	margin-left:79px;
}

#volLeTextLabel {
	margin-left:4px;
}

#startMonthLabel {
	margin-left:18px;
}

#startDayLabel {
	margin-left:17px;
}

#endYearLabel {
	margin-left:5px;
}

#endMonthLabel {
	margin-left:23px;
}

#endDayLabel {
	margin-left:22px;
}

#dateNotesLabel {
	margin:10px 0 0 0;
}

/* ------------------------------------------------- */ 
/*
/* ------------- EditDescriptionVolume ------------- */

#orgCriteriaDiv {
	margin-top:5px;
}

#conditionLabel {
	margin-left:6px;
}

#boundLabel {
	margin-left:23px;
}

#foliosNumLabel {
	margin-left:116px;
}

#alphaIndexLabel {
	margin-left:59px;
}

#printedDrawingsLabel {
	margin-left:70px;
}

#languagesDiv {
	margin-bottom:15px;
}

#italianLabel, #spanishLabel {
	margin-left:50px;
}

#frenchLabel, #germanLabel, #latinLabel, #englishLabel {
	margin-left:5px;
}

/* ------------------------------------------------- */ 
/*
/* ----------- EditCorrespondentsVolume ------------ */


#toCorrespLabel {
	margin-left:13px;
}

/* ------------------------------------------------- */ 
/*
/* ---------------- Volume Explorer ---------------- */
/*
/* -------- iFrame -------- */

iframe{ /* Common for all iFrame */
	margin-top:10px;
	border:1px solid #e6d0c6; 	
	z-index:-1;
}

.iframeFlipVolume { /* used in Add New Volume - #body_right */
	z-index:-1;
	width:570px;
	height:400px;
}

/* ---------------------------- */
/*
/* --- iFrame in Fullscreen --- */

.iframeFlipVolumeFullCom { /* used for the Community */
	width:595px;
	height:400px;
	margin: 10px auto 0 50px;
}

.iframeFlipVolumeFullFellows { /* used for Fellows */
	width:920px;
	height:430px;
	margin: 10px auto 0 3px;
}

/* ---------------------------- */
/*
/* ---------- Buttons --------- */
/*
/* Previous / Next */

#prevNextButtons {
	margin:10px 0 12px 190px;
	width: 190px;
	z-index:2;
}

#prevNextButtons #previousPage a{
	float:left;
	background-image:url(/Mia/images/1280/button_prevfolio.png);
	width:93px;
	height:25px;
}

#prevNextButtons #nextPage a{
	float:right;
	background-image:url(/Mia/images/1280/button_nextfolio.png);
	width:93px;
	height:25px;
}
/* ---------------- */
/*
/* -- Rubricario -- */

#rubricarioMoveTo { /* Contains "Rubricario Count" and "Move to rubricario" */
	width:570px;
	margin-top:30px;
}

#rubricarioCountForm { /* "Rubricario Count" FORM */
	display:inline;
	color:#6d5c4d;
	margin-top:10px;
	position:relative;
	font-size:12px;
}

#moveToRubricarioForm { /* "Move to Rubricario" FORM */
	width:150px;
	display:inline;
	color:#6d5c4d;
	float:right;
	margin:0;
}

.rubricarioLabel { /* "Move to rubricario" <label> class  */
	font-size:12px;
	margin:0 0 0 -28px;
	position:absolute;
	color:#6d5c4d;
}

.input_4cRucricario { /* "Move to rubricario" <input> ID  */
	margin:-3px 0 0 87px;
	position:absolute;
	width: 30px;
}

#goR { /* "Move to rubricario" <input> GO button ID  */
	margin:-4px 0 0 128px;
	width:25px;
	height:25px;
	background-image:url(/Mia/images/1280/button_go.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
}



/* ---------------- */
/*
/* ---- Folio ----- */

#folioMoveTo { /* Contains "Folio Count" and "Move to folio" */
	width:570px;
}

#folioCountForm { /* "Folio Count" FORM */
	display:inline;
	color:#6d5c4d;
	margin-top:10px;
	position:relative;
	font-size:12px;
}

#moveToFolioForm { /* Move to folio FORM */
	width:150px;
	display:inline;
	color:#6d5c4d;
	float:right;
}

.folioLabel { /* "Move to folio" <label> ID  */
	font-size:12px;
	margin:0 0 0 7px;
	position:absolute;
	color:#6d5c4d;
}

.input_4cFolio { /* "Move to folio" <input> ID  */
	margin:-3px 0 0 87px;
	position:absolute;
	width: 30px;
}

#go { /* "Move to folio" <input> GO button ID  */
	margin:-4px 0 0 128px;
	width:25px;
	height:25px;
	background-image:url(/Mia/images/1280/button_go.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

/* ---------------- */
/*
/*  Fullscreen Mode */

#flipItInFullScreen { /* "Move to folio" <input> GO button ID  */
	width:105px;
	height:25px;
	position:absolute;
	display:inline;
	background-image:url(/Mia/images/1280/button_fullscreenmode.png);
}

/* ---------------- */
/*
/* ---- Refresh --- */

#refreshVolumeExplorer {
	margin: 0 0 0 468px;
	position:absolute;
	display:inline;
	width:105px;
	height:25px;
	display:inline;
	background-image:url(/Mia/images/1280/button_refresh.png);
}

/* ---------------- */
/*
/* -- modalWindow - */
/* When the user clicks on Fullscreen Mode this window comes out */

#modalBox {
	margin:0 auto 0 auto;
	width:700px;
}

#modalBox a:hover{
	opacity:0.5;
}


/* modalBox Previous / Next Folio */

#modalBox #prevNextButtons {
	margin:10px 0 10px 245px;
	width: 190px;
	z-index:2;
}


/* ---------------- */
/*
/* -- modalBox Rubricario -- */

#modalBox #rubricarioMoveTo {
	width:600px;
	margin-left:55px;
}

#modalBox #folioMoveTo{
	width:625px;
	margin-left:55px;
}

#modalBox #rubricarioMoveTo #moveToRubricarioForm { /* "Move to Rubricario" FORM */
	width:162px;
	display:inline;
	color:#6d5c4d;
	float:right;
}

#modalBox #goR { /* "Move to rubricario" <input> GO button ID  */
	margin:-5px 0 0 130px;
	position:absolute;
	width:25px;
	height:25px;
	background-image:url(/Mia/images/1280/button_go.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

#modalBox #moveToFolioForm { /* Move to folio FORM */
	width:187px;
	display:inline;
	color:#6d5c4d;
	float:right;
}

#modalBox #go { /* "Move to folio" <input> GO button ID  */
	margin:-5px 0 0 130px;
	position:absolute;
	width:25px;
	height:25px;
	background-image:url(/Mia/images/1280/button_go.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

#modalBox #transcribe {
	margin:20px 0 0 50px;
	position:absolute;
	background-image:url(/Mia/images/1280/button_transcribe.png);
	width:149px;
	height:25px;
}

#CloseButtonRight {
	margin:20px 0 10px 545px;
}

#CloseButtonRight #close{
	margin:0 0 5px 50px;
}

#modalBox #closeModal {
	margin:25px 0 0 295px;
	position:absolute;
	width:150px;
}

#modalBox #closeModal #closeModalBox {
	margin-left:25px;
	cursor:pointer;
	background-color:transparent;
	background-image:url(/Mia/images/1280/button_close.png);
	width:52px;
	height:24px;
	border:none;
}

#choose {
	margin:5px 0 0 50px;
	position:absolute;
	background-image:url(/Mia/images/1280/button_choose.png);
	width:210px;
	height:25px;
}

#modalBox #gobackvolume{
	margin:5px 0 0 500px;
	position:absolute;
	background-image:url(/Mia/images/1280/button_gobackvolume.png);
	width:150px;
	height:25px;
}

#modalBox .inputerrors { /* Error Span messages */
	color:#900;
	position:absolute;
	margin:28px 0 0 460px;
}


/* --------------------------------------- */ 
/*
/*
/*  This Volume has not been digitized yet */


#notDigitizedYetDiv {
	margin-top:10px;
	border:1px solid #e6d0c6; 	
	width:450px;
	height:300px;
	z-index:1;
}

#notDigitizedYetDiv p{
	text-align:center;
	width:450px;
	height:70px;
	margin-top:140px;
	color:#900;
	position:absolute;
}

/* -------------------------------------- */
/*
/* -------------------------------------------------------------------------- */
/*
/* -------------------------- ADD NEW PLACE --------------------------------- */
/*
/* -- modal Window -- */

#createPlace{
	width:700px;
	margin-left:-10px;
}

#createPlace h1{
	text-align:center;
	font-size:12px;
	font-weight:normal;
}

#createPlace #CloseButton{
	margin:400px 0 0 320px;
	position:absolute;
}

#createPlace #CloseButton #close{
	margin:0 0 5px 25px;
}

#createPlace a:hover{
	text-decoration:underline;
}

#createPlace #tgnPlace{
	width:220px;
	height:250px;
	border: 1px solid #e6d0c6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	margin:20px 0 0 30px;
}

#createPlace #mapPlace{
	width:220px;
	height:250px;
	border: 1px solid #e6d0c6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	margin:20px 0 0 265px;
}

#createPlace #mapSite{
	width:220px;
	height:250px;
	border: 1px solid #e6d0c6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	margin:20px 0 0 500px;
}

#createPlace #tgnPlace #AddNewTgnPlace {
	background-image:url(/Mia/images/1280/button_tgnplace.png);
    top: 0; left: 0; /* top-left corner of logo */
	margin: 20px 0 5px 50px;
	position:absolute;
	width:125px;
	height:28px;
}

#createPlace #tgnPlace p, #createPlace #mapSite p, #createPlace #mapPlace p {
	font-size:12px;
	color: #6d5c4d;
	width: 170px;
	text-align:justify;
	line-height: 18px;
	margin: 80px 0 0 25px;
	position:absolute;	
}

#createPlace #mapPlace #AddNewMapPlace {
	background-image:url(/Mia/images/1280/button_mapplace.png);
    top: 0; left: 0; /* top-left corner of logo */
	margin: 20px 0 5px 50px;
	position:absolute;
	width:125px;
	height:28px;
}

#createPlace #mapSite #AddNewMapSitePlace {
	background-image:url(/Mia/images/1280/button_mapsite.png);
    top: 0; left: 0; /* top-left corner of logo */
	margin: 20px 0 5px 50px;
	position:absolute;
	width:125px;
	height:28px;
}


#createPlace #tgnPlace #AddNewTgnPlace:hover, #createPlace #mapPlace #AddNewMapPlace:hover, #createPlace #mapSite #AddNewMapSitePlace:hover {
	opacity:0.5;
}

#notes {
	position:absolute;
	margin:290px 0 0 130px;
}

#notes p{
	font-size:12px;
	color: #6d5c4d;
	text-align:center;
	line-height: 18px;
}

#notes a{
	font-size:11px;
	color: #6d5c4d;
}



/* ------------------ */
/*
/*

/* -- EdtitDetailsTgn, Map and MapSite -- */

#placeIdDiv {
	margin:5px 5px 5px 0px;
}

#tgnTermIDLabel {
	margin-left:9px;
}

#nameNoAccentsLabel {
	margin-left:70px;
}

#nameWithAccentsLabel {
	margin-left:25px;
}

#placeParentLabel {
	margin-left:62px;
}

/* -------------------------------------- */
/*
/* ---- EdtitNameTgn, Map and MapSite --- */

#namePlaceLabel {
	margin-left:34px;
}

#nameTypeLabel {
	margin-left:10px;
}

#latitudeNameLabel {
	margin-left:24px;
}

#longitudeNameLabel {
	margin-left:47px;
}

#longitudeGeoLabel {
	margin-left:71px;
}

/* -------------------------------------- */
/*
/* -------------------------------------------------------------------------- */
/*
/*
/* ---------------------------- MY PROFILE ---------------------------------- */

#userProfile{ /* My Profile Div Container */
	float:left;
	padding-left:50px;
}

#imgProfile { /* User image profile */
	float:left;
	margin-top:10px;
	margin-left:20px;
}

#helpProfile { /* Help Div Container */
	margin-left:650px;
}

#helpProfile a{	/* Help ancors (User Manual, Download Manual, Help Videos) */
	font-size:11px;
	line-height:18px;
	text-decoration:none;
	color:#6F6B69;
}

#helpProfile a:hover{ /* Help ancors rollover */
	text-decoration:underline;
}

#coursesProfile { /* MAP Courses button */
	margin: -70px 0 0 650px;
}

/* Edit Forms Div Containers */
#EditTitleProfileDiv, #EditGroupProfileDiv, #EditOrgProfileDiv, #EditLocationProfileDiv, #EditInterestsProfileDiv, #EditResumeProfileDiv {
	width:300px;
	margin-left:150px;
	margin-top:5px;
}

#PersonalNotes {
	background-image:url(/Mia/images/1280/button_perosnalNotes.png);
	margin:200px 0 0 150px;
}

#closeProfile {
	margin-top:5px;
}

#saveProfile {
	margin-left:160px;
}
