@import url(https://fonts.googleapis.com/css?family=Lato:400,300,200,100|Crimson+Text:400,300);

body {
	margin:0;
	padding:0;
	font-size: 12px;
	color:#6F6B69;
	font-family: 'Lato', helvetica, arial, sans-serif;
}

/* Structural Divs */

#layout {
	width:1000px;
	height:700px;
	margin-left: 92px;
	margin-top: 25px;
	padding:0px;
	float:left;
	top:0px;
	position:relative;
}

#map { /* The Medici Archive Project image */
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100% !important;
    width:55px;
    background-color: #cccccc;
    text-align:center;
}


#footer {
	width:700px;
	height: 95px;
	margin: 10px 0 0 0;
	position:absolute;
}

.mia {
    position: absolute;
	margin: 0 0 0 190px;
	display:none;
}

.mellon {
	position: absolute;
}

.dga {
	position: absolute;
	margin: 50px 0 0 0;
}

.archivio {
	margin: 50px 0 0 400px;
	position: absolute;
}

.archivioMantova {
	display:none;
}

.ucsc {
	display:none;
}

.delmas {
	margin: 48px 0 0 235px;
	position: absolute;
}


/* buttonons */

#register_here{
	width:230px;
	height:65px;
	display: block;
}

#onlineCourses{
	width:230px;
	height:65px;
	display: block;
	margin-top:10px
}

#guest {
	margin-top:10px;
}

#baseOn {
    position: absolute;
    margin: 500px 0 0 585px;
}

#baseOn img{
    vertical-align:middle;
}

#register {
	background-image:url(/Mia/images/1024/button_loginGuest.png);
	width:230px;
	height:65px;
}

.guest {
	margin:0px;
}

/*  Register - Form */

.compulsory {
	color: #990000;
}

#registrationForm  { /*  Form content */
	width:850px;
	height:420px;
	margin-top:190px;
	margin-left: 75px;	
	position:absolute;
	border-right:none;
	background-repeat:no-repeat;
	z-index:1;
	border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
}

#registrationForm h1 {
	margin: 5px 0 5px 0;
}

#registrationForm .title{
	margin:0 0 5px 0;
	font-size:10px;
	width: 850px;
        padding-bottom:5px;
}

.registrationForm { /*  Form class */
	width:850px;
	height:300px;
	margin-top: 30px;
	margin-left:20px;
	position:absolute;

}

.registrationFormKO { /*  Form class */
	width:850px;
	height:290px;
	margin-top: 30px;
	margin-left:20px;
	position:absolute;

}


#captcha_register{
	position:absolute;
	width:250px;
	height:130px;
}

.readThis { /* read this text class */
	
	font-size: 10px;
	margin:10px 0px 0px 240px;
}

#submitbutton { /* submit button class */
	margin-left:140px;
	position:absolute;
	width:100px;
	height:30px;
}

.already { /* Already have an account? */
	
	color:#886863;
	font-size: 11px;
	margin:0px 0px 0px 660px;
}

.already a { /* Already have an account? Links */
	
	font-size: 11px;
}

.inputerrors { /* Error Span messages */
	color:#900;
	font-size: 11px;
	float:left;
}

.error { /* Error Span messages */
	color:#DD3D27;
	font-size: 11px;
	display: block;
}

.loginerror { /* Error Span messages */
	color:#900;
	font-size:11px;
	border:#900 solid 1px;
	text-align:left;
	padding:2px;
	position:absolute;
	margin: 145px 0 0 210px;
	max-width:150px;
}

.registerUserBiaMessage { /* message to previous bia users for their accounts */
	color:#900;
	font-size:13px;
	border:#900 solid 1px;
	text-align:left;
	padding:2px;
/* 	position:absolute; */
/* 	margin: 145px 0 0 0px; */
}

#create {
	margin: 12px 0px 0px 690px;
}

/*  Recovery - Form */

#recovery { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	border-right:none;
}

#recovery h1 {
	padding:15px 0 15px 150px;
	margin:0;
}

.recovery { /*  Form class */
	margin-left:20px;
	height: 198px;
	width: 460px;
	margin-top: 20px;
}

.recoveryKO { /*  Form KO class */
	margin-left:20px;
	height:100px;
	width:650px;
	position:absolute;
}

#stemma { /*  Medici symbol */
	width:180px;
	height:220px;
	margin-top:260px;
	margin-left:620px;	
	position:absolute;
	background-image:url(/Mia/images/1024/img_coatofarms.png);
}

.recoveryInput { /* input text class */
	font-size:12px;
	
	-moz-border-radius: 4px;
	border-radius: 4px;	
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
	margin: 5px 7px 30px 5px;
	width:250px;
	margin-left:90px;
}

#captcha_recovery{
	width: 450px;
	height: 120px;
	margin-left: 10px;
}

#captcha_recoveryKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:40px;
	z-index:2;
}

#recovery p {
	margin-top:30px;
	line-height: 20px;
}

.inputerrors_recovery { /* Error Span messages */
	color: #900;
	font-size: 11px;
	margin-left: 56px;
}

#passwordRecovery {
	margin: 10px 0px 0px 160px;
}

/*  SendUserActivationCode */

#activationcode { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left:265px;	
	position:absolute;
	border-right:none;
	border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
}

#activationcode h1 {
	padding:15px 0 15px 0;
        
	margin:0;
}

#activationcode p {
	
	margin-top:30px;
	line-height: 20px;
}

/*  Registration Success */

#usersuccess { /* Div content */
	width:395px;
	height:275px;
	margin-top:220px;
	margin-left: 305px;	
	position:absolute;
	border-right:none;
	border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
}

#usersuccess h1 {
	padding:15px 0 15px 0;
	margin:0;
	
}

#usersuccess a{ /* Div content */
	margin-left: 135px;	
}

.usersuccess {  /* p class */
	margin-top: 40px;
	margin-left:25px;
	height:50px;
	width:345px;
	position:absolute;
	
	line-height:20px;
	font-size: 12px;
}

.activsuccess {  /* p class */
	margin-top:65px;
	height:50px;
	width: 395px;
	
}


/* Reset Password */

#reset { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	border-right:none;
	border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
}

#reset h1 {
	padding:15px 0 15px 170px;
	margin:0;
}

.reset { /*  Form class */
	margin-top:25px;
	margin-left:20px;
	height:100px;
	width:250px;
	position:absolute;
}

#reset p{
	
	margin-top:130px;
	line-height:20px;
}

#reset a{
	text-decoration:underline;
	font-weight:bold;
}

#captcha_reset{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:24px;
	z-index:2;
}

#captcha_resetKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	z-index:2;
}

.inputerrors_reset { /* Error Span messages */
	color:#900;
	font-size:11px;
	margin:10px 0 0 5px;
	float:left;
}

/* Tag */


h1 {
	
	font-size:110%;
	color:#6F6B69;
}

a img, img {
   border:none;
}

a:focus { 
	outline: 0; 
}

a {
	text-decoration:none;
	color:#990000;
}

/* ReCaptcha */

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
	background-color:transparent; //reCaptcha widget background color
}
 
#recaptcha_table {
	border-color: none; //reCaptcha widget border color
	background-color:transparent;
}
 
#recaptcha_response_field {
	border-color:#6F6B69; //Text input field border color
}


/* -------------------------- Under Mainteinance ----------------------------- */

#maintenance {
	position: absolute;
	margin: 300px 0 0 350px;
	width: 290px;
	text-align: center;
	color:#666EA4;
}

#maintenance h1{
	font-size:17px;
	color:#666EA4;
}

/*  Password Expirated */

#passwordExpirated  { /*  Form content */
	width: 450px;
	height:420px;
	margin-top:190px;
	margin-left: 265px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
	background-repeat:no-repeat;
	z-index:1;
}

#passwordExpirated h1 {
        
	margin: 5px 0 5px 0;
        border-bottom: 1px solid #AEAEAE;
        padding: 15px 0 15px 0;
}

#passwordExpirated fieldset{ 
	border:none;
}

#passwordExpirated .list { /*  Form content */
	margin: 20px 0 0 135px;
}

.list { /* Whole display list */
	margin: 20px 0 0 70px;
 	 width: 350px;
}

.row { /* Single row */
	display: table-row;
}


.list .col_r{ /* Sub-fields title cell */
	display: table-cell;
	text-align:right;
}

.list .col_l{ /* Sub-fields title cell */
	 display: table-cell;
	 text-align:left;
}

.button_small {
	cursor:pointer;
	background-color:transparent;
	background-image:url(/Mia/images/1024/button_small.png);
	width:52px;
	height:22px;
	border:none;
	text-align: center;
	padding-top: 3px;
	background-repeat: no-repeat;
}

input#update {
    margin: 40px 0 0 180px;
}

form#requestCommand {
	margin: 300px 0 0 390px;
	position: absolute;
}