
body {
	margin: 0;
	background-color: black;
}

.button_mini {
  border-radius: 4px;
  background: #a9a7a5;
  border: 2px solid #a9a7a5;
  padding: 2px 2px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  margin-right: 5px;
}
.button_mini:hover {
  background-color: #cc6666;
  border-color: #cc6666;
  color: white;
}

.button_small {
  border-radius: 20px;
  background: #a9a7a5;
  border: 2px solid #a9a7a5;
  padding: 2px 15px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  text-align:center;
}

.button_medium {
  border-radius: 20px;
  background: #a9a7a5;
  border: 2px solid #a9a7a5;
  padding: 2px 15px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  margin-right: 5px;
}
.button_medium:hover {
  background-color: #cc6666;
  border-color: #cc6666;
  color: white;
}
.button_small:hover {
  background-color: #cc6666;
  border-color: #cc6666;
  color: white;
}

.button_basic {
  background: #a9a7a5;
  padding: 2px 15px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  margin-right: 5px;	
}

.input_5c { /* input for 5 characters */
	width: 45px;
}

.list { /* Whole display list */
	display: table;
	width:100%;
	font-size: 12px;
	line-height: 18px;
}

.row { /* Single row */
	display: table-row;
}

.list .col_r{ /* Sub-fields title cell */
	display: table-cell;
	text-align:right;
}

.list .col_l{ /* Sub-fields title cell */
	display: table-cell;
	text-align:left;
}


/*

Manuscript Viewer css
html version
*/

#EditExtractDocumentDiv #EditExtractDocumentForm textarea, #EditSynopsisDocumentDiv #EditSynopsisDocumentForm textarea,  #EditPersonalNotesForm textarea, #EditPersonalNotesForm #personalNotes, #EditTranscriptionForm #transcription{
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	font-family:'Roboto', helvetica, arial, sans-serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	color: #000000;
	width: 98%;
	height:90%;
	text-align:justify;
	resize:none;
}

#EditSynopsisDocumentDiv, #EditExtractDocumentDiv, #PageTurnerHorizontalDiv, #EditExtractDocumentForm, #EditSynopsisDocumentForm, #DialogPersonalNotesDiv, #EditPersonalNotesForm, #EditTranscriptionForm, #CompareManuscriptDiv, #CompareManuscriptForm, #PageTurnerVerticalDiv {
	position:relative;
	margin:0 auto 0 auto;
	height: 97%;
	font-size: 12px;
}

#prevButton, #nextButton {
	display: inline-block;
}

#prevNextButtons {
	position: relative;
	margin: 0 auto;
	width: 80px;
}

#PageTurnerVerticalDiv {
	position:relative;
	margin:0 auto 0 auto;
	height: auto!important;
	font-size: 12px;
	overflow:hidden;
	display: inline-block;
	display: inline-block;
}

.ui-dialog[aria-labelledby=ui-dialog-title-PageTurnerVerticalDiv] {height:auto!important;}

div.hideAnnotation {
    bottom: 85px;
    left: 10px;
	cursor:pointer;
}

div.hideNavWindow {
    bottom: 40px;
    left: 10px;
	cursor:pointer;
}

/* ---------- Title bar --------- */

#rotateVertical {
	margin-left: 283px;
	border: 1px solid transparent;
}

#rotateHorizontal {
	border: 1px solid transparent;
	margin-left: -5px;
}

#rotateVertical:hover, #rotateHorizontal:hover {
	cursor: pointer;
	border: 1px solid #DCC0BA;
	border-radius: 4px;
	background-color:#f4e9e8;
}

/* ---------- Buttons --------- */
/*
/* Previous / Next */

#PageTurnerHorizontalDiv #prevNextButtons {
	width: 80px;
	margin-top:8px;
}

#PageTurnerHorizontalDiv #prevNextButtons.transcribe {
	margin: 3px 0 0 215px;
}

#PageTurnerHorizontalDiv #prevButton img, #PageTurnerHorizontalDiv #nextButton img, #PageTurnerHorizontalDiv #personalNotesDiv img, #PageTurnerHorizontalDiv #exitDiv img{
	border:none;
}

#PageTurnerHorizontalDiv #prevButton a,  #PageTurnerVerticalDiv #prevButton a{
	background:url(/Mia/images/mview/button_lastRecord_pageTurner.png) no-repeat;
	padding:4px 0 0 4px;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:35px;
	height:22px;
	font-size:11px;
	cursor: pointer;
	display: inline-block;
}

#PageTurnerHorizontalDiv #nextButton a, #PageTurnerVerticalDiv #nextButton a {
	background:url(/Mia/images/mview/button_nextRecord_pageTurner.png) no-repeat;
	width:35px;
	height:22px;
	font-size:11px;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	display: inline-block;
}


#exitButton:hover, #personalNotesDiv a:hover, #indexNames:hover, #volumeSummary:hover, #showAlreadyTranscribed:hover, #showTranscription:hover, #nextButton a:hover, #prevButton a:hover, #go:hover{
	cursor:pointer;
}

#exitButton, #personalNotesDiv a, #indexNames, #volumeSummary, #showAlreadyTranscribed, #showTranscription, #nextButton, #prevButton a, #go{
	cursor:pointer;
}

a.transcribe {
	background:url(/Mia/images/mview/button_medium.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	margin: 10px 0 0 0;
	width:122px;
	height:22px;
	cursor:auto;
	text-decoration: none;
	color: #6F6B69;
}

.transcribeMessage:hover {
	cursor:text;
}

.transcribeMessage {
	color:#F00;
	text-decoration:none;
	text-align: center;
	padding-top: 4px;
	display: block;
}

#PageTurnerVerticalDiv #choiceThisFolioStart {
        margin-top: 75px;
}

#PageTurnerHorizontalDiv #choiceThisFolioStart {
        margin: 50px 0 0 30px;
}

#notExtract {
	color: green;
}


.inputerrors { /* Error Span messages */
	color:#900;
	font-size: 11px;
	text-align:right;
	padding:1px 4px 1px 4px;
	width:auto;
	border:1px solid #900;
	float: right;
	border-radius:4px;
	-moz-border-radius: 4px;
}

#PageTurnerVerticalDiv .inputerrors {
	margin: 206px 0 0 35px;
	position: absolute;
}

#PageTurnerHorizontalDiv .inputerrors {
	margin: 35px 0 0 226px;
	position: absolute;
}


/* ---- Trascription ----- */
#showSynopsis {
	float: left;
}

#editTranscription {
	float: right;
}

#EditTranscriptionForm textarea#transcription[disabled] {
	border: none;
	background-color:#F6EDEC;
}


/* ---- Volume Summary ----- */

#volumeSummary { /* Volume Summary button on Page Turner Panel */
	background:url(/Mia/images/mview/button_volumeSummary.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:35px;
	height:35px;
	font-size:11px;
	display: inline-block;
}

#volumeSummary.transcribe { /* Volume Summary button on Page Turner Pannel */
	margin: 3px 0 0 329px;
}

/* Volume Summary dialog Window */

#volumeSummaryWindow {
	max-height:500px;
	width:500px;
}

#volumeSummaryWindow .row {
	display: table-row;
}

#volumeSummaryWindow .item {
	display: table-cell;
	width:160px;
	text-align:left;
	color:#6d5c4d;
	padding:3px 0 3px 0;
}

#volumeSummaryWindow .value {
	display: table-cell;
	width:340px;
	text-align:left;
	color:#8B7563;
	padding:3px 0 3px 5px;
	text-align:justify;
}

#volumeSummaryWindow .valueMissingFolios {
	color:#900;
	display: table-cell;
	width:350px;
	text-align:left;
	padding:3px 0 3px 5px;
	text-align:justify;
}

#volumeSummaryWindow hr { /* Horizontal Line used to separate areas inside the Edit Forms */
	margin:10px 0 10px 0;
	padding:0;
	width:480px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
}

h3{ /* PERSON NAME (in PERSON DETAILS) and VOLUME NAME (in VOLUME DETAILS) */
	font-size:14px;
	font-style:italic;
	color:#C18D72;
	margin:3px 0 15px 0;
}

h5{ /* DOCUMENT DETAILS Title, PERSON DETAILS Title */
	font-size: 12px;
	color:#6d5c4d;
	margin:3px 0 3px 0;
}

/* ---- Index of Names ----- */

#indexNames { /* Index of Names button on Page Turner Panel */
	background:url(/Mia/images/mview/button_indexOfNames.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:35px;
	height:35px;
	font-size:11px;
	display: inline-block;
	margin-left: 3px;
}

#indexNames.transcribe { /* Index of Names button on Page Turner Pannel */
	margin: 40px 0 0 328px;
}


/* ---------------- */
/*
/* -- Rubricario -- */

#PageTurnerHorizontalDiv #rubricarioMoveTo { /* Contains "Rubricario Count" and "Move to rubricario" */
	width:170px;
	position:absolute;
	margin:13px 0 0 250px;
}

#PageTurnerHorizontalDiv #rubricarioMoveTo.transcribe { /* Contains "Rubricario Count" and "Move to rubricario" */
	margin: 13px 0 0 447px;
}

#PageTurnerHorizontalDiv #rubricarioMoveTo #moveToRubricarioForm { /* "Move to Rubricario" FORM */
	width:155px;
	display:inline;
	color:#6d5c4d;
	float:right;
	margin:0;
}

#PageTurnerHorizontalDiv #rubricarioMoveTo .rubricarioLabel { /* "Move to rubricario" <label> class  */
	font-size:10px;
	margin:0 0 0 -50px;
	position:absolute;
	color:#6d5c4d;
}

#PageTurnerHorizontalDiv #rubricarioMoveTo .input_4cRucricario { /* "Move to rubricario" <input> ID  */
	margin:-4px 0 0 100px;
	position:absolute;
	width: 30px;
	font-size:11px;
	font-family:'Roboto', helvetica, arial, sans-serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
}

#PageTurnerHorizontalDiv #rubricarioMoveTo #goR { /* "Move to rubricario" <input> GO button ID  */
	margin:-5px 0 0 140px;
	width:22px;
	height:22px;
	background-image:url(/Mia/images/mview/button_mini.png);
	font-size:11px;
	padding:0 0 0 2px;
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
	color:#6F6B69;
}

/* ---------------- */
/*
/* ---- Folio ----- */


#PageTurnerHorizontalDiv #folioMoveTo { /* Contains "Folio Count" and "Move to folio" */
	width:160px;
	position:absolute;
	margin:50px 0 0 240px;
}

#PageTurnerHorizontalDiv #folioMoveTo.transcribe { /* Contains "Folio Count" and "Move to folio" */
	margin: 58px 0 0 165px;
}

#PageTurnerHorizontalDiv #folioMoveTo #moveToFolioForm{ /* Move to folio FORM */
	width:150px;
	display:inline;
	color:#6d5c4d;
	float:right;
}

#PageTurnerVerticalDiv #folioMoveTo #moveToFolioForm{ /* Move to folio FORM in VERTICAL MODE */
	width:120px;
	color:#6d5c4d;
}

#PageTurnerVerticalDiv #folioMoveTo {
	margin-top: 10px;
	margin-bottom: 10px;
}

#PageTurnerHorizontalDiv #folioMoveTo .folioLabel { /* "Move to folio" <label> ID  */
	font-size: 12px;
	margin:0 0 0 33px;
	position:absolute;
	color:#6d5c4d;
}

#PageTurnerVerticalDiv #folioMoveTo .folioLabel { /* "Move to folio" <label> ID in VERTICAL MODE  */
	font-size: 12px;
	margin:0;
	position:absolute;
	color:#6d5c4d;
}

#PageTurnerHorizontalDiv #folioMoveTo .input_4cFolio { /* "Move to folio" <input> ID  */
	margin: -4px 0 0 65px;
	position:absolute;
	width: 30px;
	font-size:11px;
	font-family:'Roboto', helvetica, arial, sans-serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
}

#PageTurnerVerticalDiv #folioMoveTo .input_4cFolio { /* "Move to folio" <input> ID in VERTICAL MODE  */
	margin: -2px 0 0 39px;
	position:absolute;
	width: 30px;
	font-size:11px;
	font-family:'Roboto', helvetica, arial, sans-serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
}


#PageTurnerHorizontalDiv #folioMoveTo #go { /* "Move to folio" <input> GO button ID  */
	margin: -5px 0 0 110px;
	width:22px;
	height:22px;
	background-image:url(/Mia/images/mview/button_mini.png);
	font-size: 12px;
	padding:0 0 0 2px;
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
	color:#6F6B69;
}

#PageTurnerVerticalDiv #folioMoveTo #go { /* "Move to folio" <input> GO button ID in VERTICAL MODE  */
	margin: -5px 0 0 0;
	width:22px;
	height:22px;
}


/* ---------------- */
/*
/* ---- Personal Notes ----- */

#PageTurnerHorizontalDiv #personalNotesDiv a{
	margin:8px 0 0 455px;
	position:absolute;
	background:url(/Mia/images/mview/button_personalNotes.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:32px;
	height:32px;
	font-size:11px;
}

#PageTurnerVerticalDiv a#personalNotesButton{
	background:url(/Mia/images/mview/button_personalNotes.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width: 32px;
	height:32px;
	font-size:11px;
	cursor:pointer;
	display: inline-block;
	margin-left: 3px;
}

#PageTurnerHorizontalDiv #personalNotesDiv a.transcribe{
	margin: 7px 0 0 403px;
}


/* ---------------- */
/*
/* ---- Exit ----- */

#exitDiv a{
	margin:47px 0 0 455px;
	position:absolute;
	background:url(/Mia/images/mview/button_small.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:52px;
	height:22px;
	font-size: 12px;
	text-transform:capitalize;
}

#PageTurnerHorizontalDiv #exitDiv a.transcribe{
	margin: 53px 0 0 390px;
}

#PageTurnerVerticalDiv a#exitButton{
	display: block;
	position: relative;
	margin: 0 auto;
}

/* ---------------- */
/*
/* ---- Lines ----- */

#PageTurnerHorizontalDiv #line {
	width:1px;
	height:70px;
	background-color:#E6D0C6;
	margin:6px 0 0 200px;
	position:absolute;
}

#PageTurnerHorizontalDiv #line.transcribe {
	margin: 6px 0 0 194px;
}

#PageTurnerHorizontalDiv #line2 {
	width:1px;
	height:70px;
	background-color:#E6D0C6;
	margin:6px 0 0 441px;
	position:absolute;
}

#PageTurnerHorizontalDiv #line2.transcribe {
	margin: 6px 0 0 375px;
}

#PageTurnerVerticalDiv #line, #PageTurnerVerticalDiv #line2 {
	width:120px;
	height:1px;
	background-color:#E6D0C6;
	margin: 10px 0;
}

/* ---------------- */
/*
/* ---- Edit Extract ----- */

#EditExtractDocumentDiv #editSynopsis {
	float: right;
	margin-right:6px
}

#EditExtractDocumentDiv #saveAndExit {
	float: right;
}

#EditExtractDocumentDiv #saveExtract {
	float:left;
	display:inline;
	background:url(/Mia/images/mview/button_medium.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:122px;
	height:22px;
	font-size: 12px;
	border:none;
}

#EditExtractDocumentDiv #saveAndEditSynopsis {
	float:right;
	display:inline;
	background:url(/Mia/images/mview/button_large.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:182px;
	height:22px;
	font-size: 12px;
	border:none;
}

/* ---------------- */
/*
/* ---- Edit Synopsis ----- */

#EditSynopsisDocumentDiv #saveAndExit {
	float: right;
}

#EditSynopsisDocumentDiv #saveSynopsis {
	float:left;
	display:inline;
	background:url(/Mia/images/mview/button_medium.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:122px;
	height:22px;
	font-size: 12px;
	border:none;
}

#EditSynopsisDocumentDiv #saveSynopsisExit {
	float:right;
	display:inline;
	background:url(/Mia/images/mview/button_large.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:182px;
	height:22px;
	font-size: 12px;
	border:none;
}

/* ---------------- */
/*
/* ---- Personal Notes ----- */

#DialogPersonalNotesDiv #saveNotes {
	float:left;
	display:inline;

}

#DialogPersonalNotesDiv #cleanNotes {
	float:right;
	display:inline;

}

#loadingDiv { /* Animated Gif that shows up when saving each edit section */
    background-image:url(/Mia/images/1024/img_loadingDiv.gif);
    visibility: hidden;
    z-index:999;
    opacity:0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40); /* IE */
    width:485px;
    position:absolute;
	border-radius:4px;
	-moz-border-radius: 4px;
}

#ShowSynopsisDocumentDiv, #ShowExtractDocumentDiv {
    max-height: 485px;
}

/* Go to page */
.goToPage span {display:block; margin-bottom:8px}
a.helpIcon {
  border-radius: 20px;
  background: #a9a7a5;
  border: 2px solid #a9a7a5;
  padding: 2px 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  margin-right: 5px;
}
a.helpIcon:hover {
  background-color: #cc6666;
  border-color: #cc6666;
  color: white;
}
.input_4c {width: 35px;}
.goToPage .labels {margin-left:15px}
.goToPage #go {margin-left: 92px;}



/* Modified elements from the original jquery-ui-1.8.9.custos.css */

/* Component containers
----------------------------------*/

.ui-widget {
	font-family:'Roboto', helvetica, arial, sans-serif;
 	font-size: 12px;
	-moz-box-shadow: 1px 1px 10px #666;
	-webkit-box-shadow: 1px 1px 10px #666;
	box-shadow: 1px 1px 10px #666;
}

.ui-widget .ui-widget { font-size: 11px; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family:'Roboto', helvetica, arial, sans-serif;
	font-size: 12px;
}

.ui-widget-content {
	background-color: #fff;
}


/* Interaction states
----------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border-radius: 20px;
  background: #a9a7a5;
  border: 2px solid #a9a7a5;
  padding: 2px 2px;
  font-size: 12px;
  color: #fff;
  font-weight: 200;
  margin-right: 5px;
}
.ui-state-default:hover {
  background-color: #cc6666;
  border-color: #cc6666;
  color: white;
}
