.ui-dialog {
    background-color: white !important;
    font-size: 10pt;
}

.agree_checkbox{
    margin-top: 10px;
}

.ui-dialog-titlebar {
    font-size: 14pt !important;
    background-color: white !important;
}

.disabled {
    border-color: #cc6666;
    cursor: no-drop !important;
}