/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all classes, id and tag from the MAIN INTERFACE elements
 */


/* ------------------------------------------------- TAG ------------------------------------------------- */ 



html {
	height: 100%;
}

body {
	background-position:bottom;
	background-repeat:no-repeat;
/* 	background-color:#f6edec; */
	background-attachment:fixed;
	margin:0 !important; 
	padding:0 !important; 
	font-size: 12px;
	color: #6F6B69;
	font-family:Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:110%;
	color:#6F6B69;
}

a img {
   border:0px;
}

a:focus { 
	outline: 0px; 
}

a {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#6F6B69;
	font-size: 12px;
}


/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ------------------------------------------ STRUCTURAL DIVS -------------------------------------------- */ 

#layout { /* Website Container*/
	width:1000px;
	min-height: 100% !important;
	height: 100%; 
	margin:0 auto 0 auto !important; 
	position:relative; 
}

#map { /* THE MEDICI ARCHIVE PROJECT top left image Container */
	width: 255px;
	height:165px;
	position:absolute;
	background:url(/Mia/images/1024/img_map.png) no-repeat;
	background-color:transparent;
	z-index:999;
}

#top_top { /* SEARCH FORM and LAST ENTRY MENU Container */
	width:750px;
	height:95px;
	margin-left: 247px;
	position:absolute;
}

#top_middle { /* MAIN MENU: Entry Menu - Vet Menu - Advanced Search - Chronology - My Profile - Messages - Log out */
	width:745px;
	height:64px;
	margin-top:95px;
	margin-left: 247px;
	position:absolute;
	background-image:url(/Mia/images/1024/bg_mainmenu.png);
	background-repeat:no-repeat;
	z-index:3;
}

#top_bottom { /* USER INTERFACE MENU Container*/
	width:1000px;
	height:23px;
	margin-top: 158px;
	position:absolute;
	background-image:url(/Mia/images/1024/bg_userinterface.png);
}

#DocSourcesContent { /* MAIN Website Container */
	width:1000px;
	height:auto;	
	margin-top:181px;
	position:absolute;
}

#footer { /* FOOTER Container */
	width:100%;
	height:150px;
	text-align: center;
	font-size:10px;
	z-index:1;
	bottom:0;
	margin-top:100%;
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* --------------------------------------------- SPLIT SCREEN -------------------------------------------- */


#body_left{ /* LEFT-hand side of the SCREEN */
	width:490px;
	height:auto;
	padding:0 5px 0 5px;
	float:left;
	position:absolute;
	z-index:1;
	margin-bottom:100px;
	border-right:1px solid #DCC0BA;

}
	
#body_right{ /* RIGHT-hand side of the SCREEN */
	width:489px;
	height:auto;
	padding: 0 5px 0 7px;
	float:right;
	position:absolute;
	margin-left:500px;
	border-left:1px solid #DCC0BA;
	min-height: 520px;

}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ---------------------------------------- SEARCH FORM (#top_top) --------------------------------------- */

#searchForm { /* Search Form Container */
	width: 307px; 
	height:80px;
	margin: 17px 0 0 0;
	position:absolute;
	padding-left: 4px; 
}

#searchFormPointer, #advancedSearchPointer, #communityForumsPointer, #communityForumsPointer_guest{ /* Search Form Container Pointer  */
	display:none;
	position:absolute;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #900;
	background:rgba(153, 0, 0, 0.1);
}

#searchFormPointer { /* Search Form Container Pointer  */
	width: 307px; 
	height:70px;
	margin: 17px 0 0 248px;
}

#advancedSearchPointer{ /* Advanced Search Button Pointer  */
	width: 150px; 
	height: 59px;
	margin: 97px 0 0 248px;
}

#communityForumsPointer{ /* Community Forums Button Pointer  */
	width: 178px; 
	height: 59px;
	margin: 97px 0 0 525px;
}

#communityForumsPointer_guest{ /* Community Forums Button Pointer for guests and Community users  */
	width: 178px; 
	height: 59px;
	margin: 97px 0 0 395px;
}

.input_search { /* Input Text class */
	background-color: transparent;
	background-repeat:no-repeat;
	height:30px;
	border:none;
	width:150px;
	padding:0 5px 0 5px;
	margin-top:0px;
}

.select option{
	background-color: transparent;
}

#search { /* Search button */
	width:22px;
	height:22px;
	background-image:url(/Mia/images/1024/button_mini.png);
	padding:0 0 0 2px;
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
	margin: 5px 0 0 0;
}

#SearchForm a.helpIcon { /* Help symbol "?" */
	border: 1px solid #6D5C4D;
	color:  #6D5C4D; 
	background-color: #DCC0BA; 
	padding-left: 5px; 
	padding-right: 4px; 
	font-weight:bold;
	text-decoration:none;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor:default;
	margin: 0 0 0 4px;
}

#SearchForm a:hover.helpIcon { /* Help symbol "?" */
	border: 1px solid #2e83ff;
	color:  #363636; 
	background-color: #ebf3ff; 
	opacity:0.9; /* Chrome, Safari */
	-moz-opacity: 0.9; /* FireFox */
	filter:alpha(opacity=90); /* IE */
	text-decoration:none;
}


#text {
	width: 251px;
	margin: 5px 2px 0 5px;
}

#simpleSearchPerimeter {
	width: 179px;
	margin: 5px 0 5px 0;
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* --------------------------------------- SHORTCUT MENU (#top_top) --------------------------------------- */

#lastentry { /* Shortcut Menu Container */
	width:435px;
	height:90px;
	margin: 10px 0 0 310px;
	position:absolute;
	list-style:none;
	float:left;
}

#menulastentry { /* Shortcut Menu <ul> list */
	width:450px;
	height:100px;
	list-style:none;
	float:left;
	margin: 0;
	padding: 0;
}

#menulastentry li{ /* Shortcut Menu <ul> list <li> elements */
	float:left;
}

#menulastentry #last_doc a {
	background-image:url(/Mia/images/1024/button_lastdocumententry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	top:10px;
	height:85px;
	padding-left: 10px;
}

#menulastentry #last_doc a:hover {
	ms-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

#menulastentry #last_vol a {
	background-image:url(/Mia/images/1024/button_lastvolumeentry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_vol a:hover {
	ms-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

#menulastentry #last_pers a {
	background-image:url(/Mia/images/1024/button_lastpersonentry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_pers a:hover {
	ms-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

#menulastentry #last_pla a {
	background-image:url(/Mia/images/1024/button_lastplaceentry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_pla a:hover {
	ms-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ----------------------------------- USER INTERFACE MENU (#top_bottom) --------------------------------- */

#top_bottom ul {
	list-style:none;
	margin: 6px 0 0 10px;
	font-size: 11px;
	padding: 0;
}

#top_bottom ul li {
	float:left;
	padding-right: 40px;
	font-size: 11PX;
}

#top_bottom ul li span{
	color: #B40404;
	margin-left:5px;
	font-weight:bold;
}

#top_bottom ul li a {
        font-size: 11px;
}

#top_bottom ul li a:hover { /* Administration Module */
	text-decoration:none;
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */ !important	
}

/* --------------------------------- DIGITIZATION MODULE (#top_top) --------------------------------------- */

#digitizationModule {
	background-repeat:no-repeat;
	text-decoration:none;
}

#digitizationModule:hover { /* Administration Module */
	text-decoration:none;
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */ !important	
}

#top_bottom p{ /* top_bottom (Who am I?) */
	margin-top: 0;
	float:right;
	padding-right: 10px;
	font-size: 11px;
	width: 245px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#top_bottom p:hover{ 
	cursor:default;
}

/* ------------- */
/*
/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ---------------------------------------------- WELCOME PAGE ------------------------------------------- */

#welcome {  /* Page Container */
	width:900px;
	position:absolute;
	margin-top:200px;
}

.welcome{
	font-size:16px;
	margin-top:30px;
	margin-left:50px;
	position:absolute;
}

.welcome_list #topDiscussions {
    margin-bottom: 30px;
}

.welcome_list #mostRecentDiscussions {
    margin-bottom: 50px;
}

.welcome_list{
	line-height:20px;
	position:absolute;
	width: 480px;
}

.welcome_list p{
	width:400px;
	margin-left:50px;
	margin-top: 34px;
	font-size: 13px;
}

.welcome_list p span.simpleSearch, .welcome_list p span.advancedSearch, .welcome_list p span.communityForums{
	font-weight:bold;
	cursor:pointer;
	text-decoration: underline;
}

.welcome_list h2{
     font-size:14px;
     padding-left: 10px;
     color: #6F6B69;
} 

.welcome_list h1{
     font-size:12px;
     margin-left: 10px;
     padding-left: 25px;
} 

.welcome_list h3{
	padding:0;
	margin: 10px 0 15px 10px;
	font-size: 14px;
	text-align: left;
}

.welcome_list h5{
	position:relative;
	display:block;
	margin: 10px 0 10px 0;
	border-bottom:1px solid #DCC0BA;
	width: 455px;
}

.welcome_list .forumHref {
    font-weight: bold;
    color: #937570;
}

.welcome_list .date { /* Date format */
	font-style:italic;
	opacity: 0.7;
	font-size: 11px;
	margin-left:5px;
}


#lastLogOnDiv div, #thisWeekDiv div, #thisMonthDiv div {
    padding-left: 20px;
    padding-right:20px;
    padding-top:3px;
    width: 415px; 
    height: 22px;
    cursor:pointer;
}

#lastLogOnDiv div:hover, #thisWeekDiv div:hover, #thisMonthDiv div:hover {
    background-color:#B0ADDD;
}

.welcome_list .databaseActivity {
        font-weight: bold;
        color: #6D5C4D;
        float: left;
}

#lastLogOnDiv div span, #thisWeekDiv div span, #thisMonthDiv div span{
        font-weight: normal;
        margin-left: 26px;
        float:right;
}






/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ------------------------------------------------- ANCORS ---------------------------------------------- */

/*#body_left a, .link {  Edit buttons 
	text-decoration:underline;
	font-size:11px;
	color:#B7958F;
}


#body_left a:hover, #body_right a:hover{ 
	opacity:0.75; 
	-moz-opacity: 0.7;
	filter:alpha(opacity=70); 
}
*/
/* ------------------------------------------------------------------------------------------------------- */
/*
/*
/* --------------------------------------------- jQUERY CLASSES ------------------------------------------ */


/* Search Result */
.searchResult {
}

$('.searchResult').live('click', function() {
	$("#body_left").load($(this).attr("href"));
	return false;
});

/* Edit Value */
.editValue {
}

/* Delete Value */
.deleteValue {
}

.previousPage {
}

.nextPage {
}

/* ------------------------------------------------------------------------------------------------------- */
/*
/*
/* ----------------------------------------------- MAIN MENU --------------------------------------------- */

.menumain {
	z-index:2;
}

.menumain ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.menumain ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.menumain ul li a{
	display: block;
	padding: 0;
	color: #6F6B69;
	text-decoration: none;
	font-size:11px;
}

#advsearchMenu{
	background-image:url(/Mia/images/1024/button_advsearch.png);
	background-repeat:no-repeat;
	display:block;
	width: 150px;
	height:64px;
}
	
#advsearchMenu:hover{
	background-image:url(/Mia/images/1024/button_advsearchRollover.png);
}

#entryMenu{
	background-image:url(/Mia/images/1024/button_entrymenu.png);
	background-repeat:no-repeat;
	display:block;
	width:128px;
	height:64px;
}

#entryMenu:hover{
	background-image:url(/Mia/images/1024/button_entrymenuRollover.png);
}

#forumsMenu{
	background-image:url(/Mia/images/1024/button_forums.png);
	background-repeat:no-repeat;
	display:block;
	width:178px;
	height:64px;
}

#forumsMenu:hover{
	background-image:url(/Mia/images/1024/button_forumsRollover.png);
}

#myHistoryMenu{
	background-image:url(/Mia/images/1024/button_myHistory.png);
	background-repeat:no-repeat;
	display:block;
	width:120px;
	height:64px;
}

#myHistoryMenu:hover{
	background-image:url(/Mia/images/1024/button_myHistoryRollover.png);
}

.messagesMenu span {
	position: absolute;
	margin: -24px 0 0 62px;
	color: #C0272D;
	font-weight: bold;
	text-align: right;
	
}

#helpMenu{
	background-image:url(/Mia/images/1024/button_help.png);
	background-repeat:no-repeat;
	display:block;
	width:75px;
	height:64px;
}

#helpMenu:hover{
	background-image:url(/Mia/images/1024/button_helpRollover.png);
}

#logoutMenu{
	background-image:url(/Mia/images/1024/button_logout.png);
	background-repeat:no-repeat;
	display:block;
	width:86px;
	height:64px;
}

#logoutMenu:hover{
	background-image:url(/Mia/images/1024/button_logoutRollover.png);
}




/*1st sub level menu*/
.menumain ul li ul{
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.menumain ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menumain ul li ul li ul{
	top: 0;
}

/* Sub level menu links style --> Add new...*/
.menumain ul li ul li a{
	width: 140px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 0;
	padding-left:5px;
	padding-top:5px;
	border-bottom: 1px solid #e6d0c6;

}

/* Sub-sub level menu links style  --> TGN Place Record, MAP Place Record, Add MAP Site or Subsite*/
.menumain ul li ul li ul li a{
	width: 150px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 45px;
	padding-left:5px;
	padding-top:5px;
	z-index:1999;

}

.menumain ul li ul li a:hover{ /*sub menus hover style*/
	background: #e6d0c6;
	color: #6F6B69;
}


/* ENTRY MENU - MODAL WINDOW */

#EntryMenuDiv h1, #VetMenuDiv h1, #ActionsMenuDiv h1, #savedSearchFiltersDiv h1, #DeleteThisRecordDiv h1, #YesDeleteThisRecordDiv h1 {
	text-align:center;
	font-size: 12px;
	font-weight:normal;
}

#EntryMenuDiv #close{
	margin: 135px 0 0 335px;
	position:absolute;
}

#EntryMenuDiv #AddNewDocument{
	background:url(/Mia/images/1024/button_addnewdocument.png) no-repeat;
	position:absolute;
	margin: 20px 0 5px 101px;
	width:124px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewDocument p{
	margin-top:60px;
}

#EntryMenuDiv #AddNewPerson{
	background:url(/Mia/images/1024/button_newperson.png) no-repeat;
	margin: 20px 0 5px 374px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewPerson p{
	margin-top:60px;
}

#EntryMenuDiv #AddNewVolume{
	background:url(/Mia/images/1024/button_addnewvolume.png) no-repeat;
	position:absolute;
	margin: 20px 0 5px 240px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewVolume p{
	margin-top:60px;
}

#EntryMenuDiv #AddNewPlace{
	background:url(/Mia/images/1024/button_addnewplace.png) no-repeat;
	position:absolute;
	margin: 20px 0 5px 503px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewPlace p{
	margin-top:60px;
}

#EntryMenuDiv #DeleteThisItem{
	padding:5px 0 0 14px;
	position:absolute;
	margin: 20px 0 5px 560px;
	position:absolute;
	width:120px;
	height:75px;
}

#EntryMenuDiv #DeleteThisItem p{
	margin-top:55px;
}

#EntryMenuDiv a:hover, #VetMenuDiv a:hover{
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */
	text-decoration:none;
}

/* Add New Person & Menage Titles and Occupations */

#addNewPersonModalDiv #AddNewPerson{
	background:url(/Mia/images/1024/button_addnewperson.png) no-repeat;
	margin: 10px 0 5px 20px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#addNewPersonModalDiv #AddNewPerson p, #addNewPersonModalDiv #MenageTitlOcc p{
	margin-top:60px;
}

#addNewPersonModalDiv #MenageTitlOcc{
	background:url(/Mia/images/1024/button_menageTitlOcc.png) no-repeat;
	margin: 10px 0 5px 180px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#addNewPersonModalDiv #goBack{
        background:url(/Mia/images/1024/button_small.png) no-repeat;
	width:52px;
	height:23px;
	position:absolute;
	text-decoration:none;
	color:#6D5C4D;
	text-align:center;
	margin:130px 0 0 135px;
	border:none;
	cursor:pointer;
	padding-top:4px;
}

/* Menage Titles and Occupations Modal */

#AddNewTitlOcc {
	position: absolute;
	margin: 10px 0 0 30px;
}

#EditDeleteTitlOcc {
	position: absolute;
	margin: 50px 0 0 30px;
}

#menageTitlOccDiv #goBack{
        background:url(/Mia/images/1024/button_small.png) no-repeat;
	width:52px;
	height:23px;
	position:absolute;
	text-decoration:none;
	color:#6D5C4D;
	text-align:center;
	
        margin: 110px 0 0 90px;
	border:none;
	cursor:pointer;
	padding-top:4px;
}


/* SIMPLE SEARCH - MODAL WINDOW */

#basicSearchDiv h1{
	font-size:12px;
	text-align:center;
}

#basicSearchDiv h1 span{
	color:#900;
	font-size:12px;
}

#basicSearchTable {
	width:349px;
}

#basicSearchDiv #close {
	margin: 20px 0 0 140px;
	position:absolute;
}


/* VET MENU - MODAL WINDOW */


#VetMenuDiv #close {
	margin:420px 0 0 340px;
	position:absolute;
}


#VetMenuDiv #SetReadtToBeVet {
	background-image:url(/Mia/images/1024/button_set.png);
	margin: 380px 0 5px 150px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #VetThisDoc{
	background-image:url(/Mia/images/1024/button_vet.png);
	margin: 380px 0 5px 300px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #UnvetThisDoc{
	background-image:url(/Mia/images/1024/button_unvet.png);
	margin: 380px 0 5px 450px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #img_vetmenu {
	background-image:url(/Mia/images/1024/img_vetmenu.jpg);
	background-repeat:no-repeat;
	margin: 15px 0 0 120px;
	position:absolute;
	width:498px;
	height:520px;
}

/* ACTIONS MENU - MODAL WINDOW */

#ActionsMenuDiv a:hover, #DeleteThisRecordDiv a:hover {
	text-decoration:none;
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */
}

#ActionsMenuDiv #deleteDocBase, #ActionsMenuDiv #deleteVolumeBase, #ActionsMenuDiv #deletePeopleBase, #ActionsMenuDiv #deleteGeoBase{
	background:url(/Mia/images/1024/button_large.png) no-repeat;
	margin: 20px 0 5px 120px;
	text-align:center;
	padding-top:4px;
	position:absolute;
	width:182px;
	height:22px;
}

#ActionsMenuDiv #Action2Docs{
	background:url(/Mia/images/1024/button_medium.png) no-repeat;
	margin: 20px 0 5px 305px;
	text-align:center;
	padding-top:4px;
	position:absolute;
	width:122px;
	height:22px;
}

#ActionsMenuDiv #Action3Docs{
	background:url(/Mia/images/1024/button_medium.png) no-repeat;
	margin: 20px 0 5px 430px;
	position:absolute;
	text-align:center;
	padding-top:4px;
	width:122px;
	height:22px;
}

#ActionsMenuDiv #Action1Docs:hover, #ActionsMenuDiv #Action2Docs:hover, #ActionsMenuDiv #Action3Docs:hover {
	text-decoration:none;
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */
}

#ActionsMenuDiv #close{
	margin:60px 0 0 340px;
	position:absolute;
}

