div.iipmooviewer {
  font-family: Georgia, "Times New Roman", Times, serif;
  left: 0px;
  top: 0px;
  background: #000;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 11px;
}

div.navcontainer {
  position: absolute;
  z-index: 2;
  text-align: center;
  background: transparent;
}
div.navcontainer div.toolbar {
  height: 10px;
  background: url( "${contextPath}/images/mview/toolbar.png" ) repeat-x;
  cursor: move;
  width: 100%;
  opacity: 0.8;
}

div.navcontainer div.toolbar:hover { opacity: 1.0 }

div.navwin {
  font-size: 90%;
  left: 0px;
  font-weight: bold;
  text-align: left;
  border: 1px outset red;
  border: none;
  top: 10px;
  z-index: 2;
  opacity: 0.9;
  width: 100%;
}

div.navwin img { border: 0px; width: 100%; height: 100% }

div.navwin div.zone {
  background: #888;
  border: 2px solid yellow;
  cursor: move;
  z-index: 3;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
}
div.iipmooviewer div.canvas{
  width: 100%;
  height: 100%;
  left: 0px;
  top:  0px;
  z-index: 0;
  cursor: wait;
  position: absolute;
  background: transparent;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
}
div.iipmooviewer div.canvas img{
  padding: 0px;
  border: 0px;
  position: absolute;
}

a.logo:link, a.logo:visited {
  text-decoration: none;
  border: none;
}
div.iipmooviewer div.credit {
  position: absolute;
  margin: 10px;
  right: 0px;
  bottom: 0px;
  border: 1px outset #333;
  color: #fff;
  background: #222;
  opacity: 0.65;
  font-weight: normal;
  padding: 5px;
  font-size: 12px;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -o-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  text-shadow: 1px 1px 0px grey;
}
div.tip {
  color: #ccc;
  background: rgba(34,34,34,0.9);
  padding: 3px;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  line-height: 1.2em;
  z-index: 2;
  position: relative;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

/* Progress Bar
 */
div.loadBarContainer {
  height: 10px;
  border: 1px solid #fff;
  background: #000;
  opacity: 0.66;
  text-align: left;
}
div.loadBar {
  left: 0px;
  font-size: 9px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.25em;
  color: #000;
  border: 0px;
  background: #fff;
  height: 10px;
}

/* Scale Widget Styles
 */
div.iipmooviewer div.scale {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 1.5em;
  width: auto;
  padding: 3px;
  background: #222;
  opacity: 0.65;
  cursor: default;
  color: #bbb;
  text-align: center;
  font-weight: bold;
  font-size: 70%;
  text-align: center;
  font-weight: normal;
  text-shadow: 0.5px 0.5px 0px grey;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}
div.iipmooviewer div.scale:hover{
  opacity: 0.9;
}
div.iipmooviewer div.scale div.ruler {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #bbb;
  border-top: none;
  background: transparent;
  width: auto;
  height: 2px;
  font-size: 2pt; /* Bug fix for IE6! */
}
div.iipmooviewer div.scale div.label { width: auto; }

/* Navigation Windows Styles
 */
div.iipmooviewer div.navcontainer div.navbuttons {
  font-size: 50%;
  line-height: 0px;
  position: relative; /* Needed for bug in IE */
  background: #222;
/*  background: white; */
  opacity: 0.6;
  width: auto;
  padding: 5px;
  z-index: 0;
  overflow: hidden;
  border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
div.iipmooviewer div.navcontainer div.navbuttons img {
  margin-top: 2px;
  margin-left: 2px;
  cursor: pointer;
  position: relative;
  padding: 1px;
}
div.navcontainer div.navbuttons img.shiftLeft, div.navcontainer div.navbuttons img.shiftRight { top: 18px; margin-left: -5px; margin-right: -5px; }
div.navcontainer div.navbuttons img.shiftUp { margin-left: 0px; margin-right: 0px; }
div.navcontainer div.navbuttons img.shiftDown { margin-top: 10px; }
div.navcontainer div.navbuttons img.corner { float: right;right: 0px; vertical-align:bottom; }

/* DISPLAY */
/* General */
/* MEDICI ARCHIVE PROJECT START */
div.iipmooviewer div.canvas div.annotation {
  position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid yellow;
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.iipmooviewer div.canvas div.GENERAL {
  position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid yellow;
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.iipmooviewer div.canvas div.PALEOGRAPHY {
  position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid orange;
  background-color: rgba(255, 130, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.iipmooviewer div.canvas div.PERSONAL {
  position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid purple;
  background-color: rgba(180, 0, 255, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Personal 
div.iipmooviewer div.canvas div.annotation {
  position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Paleography 
   position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; 




/* HOVER */
/* General */
div.iipmooviewer div.canvas div.GENERAL:hover{ 
    border: 2px solid white;
}

/* Personal */
div.iipmooviewer div.canvas div.PERSONAL:hover{ 
    border: 2px solid yellow; 
}

/* Paleography 
div.iipmooviewer div.canvas div.annotation:hover{ 
    border-color: red; 
}

/* Info Window
 */
div.iipmooviewer img.logo {
  position: absolute;
  margin: 5px;
  left: 0px;
  top: 0px;
  border: none;
  cursor: help;
  width: 32px;
  height: 32px;
}
div.iipmooviewer div.info {
  position: absolute;
  z-index: 10;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  color: #ccc;
  background: #111;
  display: table;
  overflow: hidden;
}
div.iipmooviewer div.info div {
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
div.iipmooviewer div.info div div {
  text-align: left;
  position: relative;
/*  top: -50%; */
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  display: block;
}
div.iipmooviewer div.info div a {
  color: #B7958F;
  text-decoration: none;
}
div.iipmooviewer div.info div a:hover {
  text-decoration: underline;
}
div.iipmooviewer div.info div a img{
  position: relative;
  top: 8px;
  margin-right: 8px;
  margin-left: 0px;
  border: none;
}
div.iipmooviewer div.info div h2 {
  margin: -10px 0 7px 0;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: bold;
}
div.iipmooviewer div.info div ul {
  width: 95%;
  font-size: 11px;
  text-align: justify;
  padding-left: 20px;
  margin-bottom: 0;
}

